/* COLOR SCHEMES */
:root,
:root.gruvbox {
	--bg: #1d2021;
	--fg: #32302f;
	--textcol: #ebdbb2;
}

:root.gruvbox-light {
	--bg: #fbf1c7;
	--fg: #928374;
	--textcol: #1d2021;
}

:root.lapis-lazuli {
	--bg: #25274d;
	--fg: #464866;
	--textcol: #aaabb8;
}

:root.gray {
	--bg: #222629;
	--fg: #474b4f;
	--textcol: #000000;
}

:root.black {
	--bg: #000000;
	--fg: #ffffff;
	--textcol: #444444;
}

:root.white {
	--bg: #ffffff;
	--fg: #aaaaaa;
	--textcol: #000000;
}


body {
	background: var(--bg);
	color: var(--textcol);
	font-family: monospace;
}

a, a:visited {
	color: #458588;
}

.searchbar {
	position: absolute;
	top: 20%;
	left: 50%;
	margin: 0 -50% 0 0;
	transform: translate(-50%, -50%);
	background: var(--fg);
	height: 40px;
	border-radius: 15px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.searxlink {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
}

.searxlink img {
	position: absolute;
	right: 2%;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: var(--textcol);
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	font-family: monospace;
	width: 50vw;
}

.links {
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.links a {
	margin: 20px;
}

#homepage {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#homepage a {
	color: var(--fg);
	text-decoration: none;
}

#homepage a:hover {
	text-decoration: underline dotted;
}

#theme-popup {
	display: none;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: fixed;
	top: 5px;
	left: 55px;
	border: 3px solid var(--textcol);
	z-index: 9;
	max-width: 300px;
	padding: 10px;
	background-color: var(--fg);
	color: var(--textcol);
}

#theme-popup .colorscheme-btn {
	font-family: monospace;
	color: var(--textcol);
	border: none;
	border-bottom: 2px solid var(--bg);
	background: none;
	padding-top: 10px;
}

#theme-popup .colorscheme-btn:hover {
	border-bottom: 2px solid var(--textcol);
	text-transform: uppercase;
}

.theme-switch {
	display: block;
	position: relative;
	padding-top: 17px;
	padding-left: 25px;
	margin: 6px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.theme-switch input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 15px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: var(--bg);
}

.theme-switch:hover input ~ .checkmark {
	border: 1px solid var(--textcol);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.theme-switch input:checked ~ .checkmark:after {
	display: block;
}

.theme-switch .checkmark:after {
	left: 7px;
	top: 4px;
	width: 4px;
	height: 8px;
	border: solid var(--textcol);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#theme-btn {
	display: inline-block;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: var(--fg);
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#cookie-banner {
	position: fixed;
	bottom: 5%;
	left: 20%;
	right: 20%;
	padding: 5px 15px;
	display: flex;
	text-align: center;
	background: var(--fg);
	color: var(--textcol);
	border: 3px solid var(--textcol);
	z-index: 5;
	gap: 10px;
}

#cookie-banner button {
	margin: 10px;
	background: none;
	border: 2px solid var(--textcol);
	color: var(--textcol);
}

#cookie-banner button:hover {
	background-color: var(--textcol);
	color: var(--fg);
}
